table {
  width: 80%;
  margin-left: 10%; 
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 80%;
    margin-left: .25%;
  }
  
  td, th {
    width: 25%;
  }

  :host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
 }

 .button-div {
  margin-top: 25px;
  margin-right: 69%;
  
 }

 .export-div {
  margin-top: 25px;
  margin-left: 69%;
 }